@model HRMaster_MVC_Project.Models.ViewModels.CompanyDetailsVM

@{
    ViewData["Title"] = "Company Details";
}

@section Styles {
    <link rel="stylesheet" href="~/css/company-logo.css" />
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@Model.CompanyName</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    @if (!string.IsNullOrEmpty(Model.LogoPath))
                    {
                        <div class="logo-container">
                        <img width="150px" height="150px" src="/Images/Logos/@Model.LogoPath" alt="Company Logo" class="img-fluid" />
                        </div>
                    }
                    else
                    {
                        <p>No logo available</p>
                    }
                </div>
                <div class="col-md-8">
                    <dl class="row">
                        <dt class="col-sm-3">Mersis No:</dt>
                        <dd class="col-sm-9">@Model.MersisNumber</dd>

                        <dt class="col-sm-3">Vergi No:</dt>
                        <dd class="col-sm-9">@Model.TaxIdentificaitonNumber</dd>

                        <dt class="col-sm-3">Vergi Dairesi:</dt>
                        <dd class="col-sm-9">@Model.TaxOfficeName</dd>

                        <dt class="col-sm-3">Adres:</dt>
                        <dd class="col-sm-9">@Model.CompanyAddress</dd>

                        <dt class="col-sm-3">Telefon:</dt>
                        <dd class="col-sm-9">@Model.CompanyPhoneNumber</dd>

                        <dt class="col-sm-3">Email:</dt>
                        <dd class="col-sm-9">@Model.CompanyEmail</dd>

                        <dt class="col-sm-3">Kuruluş Tarihi:</dt>
                        <dd class="col-sm-9">@Model.EstablishedDate.ToShortDateString()</dd>

                        <dt class="col-sm-3">Çalışan Sayısı:</dt>
                        <dd class="col-sm-9">@Model.EmployeeCount</dd>

                        <dt class="col-sm-3">Şirket Bilgisi:</dt>
                        <dd class="col-sm-9">@Model.CompanyInformation</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Companies", "Panel")" class="btn btn-outline-primary">Şirket Listesine Dön</a>
        </div>
    </div>
</div>


